<% layout('layout') -%>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> <%= verb %> Post</h1>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="panel">
        <div class="panel-body">
            <form action="/post/<%= post.postId %>" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="<%= post.title %>">
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" name="location" value="<%= post.location %>">
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" class="form-control" name="tags" value="<%= post.tags %>">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" name="date" value="<%= post.date %>">
                </div>
                <div class="form-group">
                    <label>Vanity URL</label>
                    <input type="text" class="form-control" name="url" value="<%= post.url %>">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <input type="text" class="form-control" name="content" value="<%= post.content %>">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <% if (post.image) { %>
                        <img src="<%= image %>" style="width: 400px"/>
                     <% } %>
                    <input type="file" class="form-control" name="image">
                </div>

                <button type="submit" class="btn btn-primary"><%= verb %> Post</button>
            </form>
        </div>
    </div>
</div>
</div>