<% layout('layout') -%>

<div class="container md">
  <h1><span class="fa fa-book"></span> All Posts
  <a href="/post" class="btn btn-primary pull-right">New Post</a></h1>

  <% for(var i = 0; i < posts.length; i ++) { %>
    <% var post = posts[i]; %>

    <div class="panel">
      <div class="panel-body">

          <h1 class="post-heading"><a href="/blog/<%= post.username %>/<%= post._id %>"><%= post.title %></a></h1>


          <p class="post-date"><%= shortDate(post.releaseDate) %></p>
          <p class="post-author">Posted by <a href="/public/<%= post.username %>"><%= post.username %></a></p>

          <hr>

          <%if(post.tags) { %>
            <div class="post-tags">
              Tags: &nbsp;<a href="/posts?tags=<%= post.tags %>"><span class="label label-primary"><%= post.tags %></span></a>
            </div>
          <% } %>

          <% if(post.image) { %>
            <img class="post-image" src="<%= post.image %>" />
          <% } else { %>
            <div class="well">No Image for This Post</div>
          <% } %>

          <p class="post-content"><%- post.content %></p>

          <hr>

          <div class="raty" data-postId="<%= post._id%>" data-rater="<%= username %>">Rate</div>

          <!-- COMMENTS -->
          <h3> Leave a comment </h3>

          <!-- The user is not logged in -->
          <% if(!username) { %>
            <form action="/login-comment" method="post">
              <div class="form-group">
                <label>Username or Email</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password">
              </div>

          <!-- The user is already logged in -->
          <% } else { %>
            <form action="/comment" method="post">
              <input type="hidden" name="username" value="<%= username %>" />
          <% } %>

            <input type="hidden" name="blogger" value="<%= post.username %>"></input>
            <input type="hidden" name="postId" value="<%= post._id %>"></input>
            <label>Comment</label>
            <textarea rows="4" cols="50"type="text" class="form-control text-editor" name="comment"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">
              <% if(!username) { %>Log in &<% } %> Post
            </button>
          </form>

          <hr>
          <!-- comments -->
          <ul class="media-list">
            <% var comments = post.comments; %>
            <% for(var j = 0; j < comments.length; j ++) { %>
              <% var comment = comments[j]; %>

              <li class="media">
                <div class="media-left">
                  <div id="topic" class="upvote" data-id="<%= comment._id %>">
                    <a class="upvote"></a>
                    <span class="count"><%= minus(comment.upvote, comment.downvote) %></span>
                    <a class="downvote"></a>
                  </div>
                </div>
                <div class="media-left">
                  <a href="/public/<%= post.username %>"><img src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=74" width="74" height="74" alt="" class="media-object pull-left img-circle" /></a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">

                    <%if (username === comment.username) { %>
                      <!-- Edit comment button -->
                      <a class="pull-right" data-toggle="modal" data-target="#editModal">Edit</a>
                      <!-- Edit comment popover -->
                      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="editModalLabel">Edit Comment</h4>
                            </div>

                            <form action="/comment/<%= comment._id %>" method="POST">
                              <div class="modal-body">
                                  <div class="form-group">
                                    <input type="hidden" name="blogger" value="<%= post.username %>"></input>
                                    <input type="hidden" name="postId" value="<%= post._id %>"></input>
                                    <input type="text" name="editedComment" class="form-control" value='<%- comment.text %>'>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    <% } %>

                    <%= comment.username %> &nbsp; <small> <%= shortDate(comment.date) %> </small>
                  </h4>
                  <p><%- comment.text %></p>
                </div>
              </li>

            <% } %>
          </ul>
          <!-- ./COMMENTS -->


      </div><!-- END .panel-body -->
    </div><!-- END .panel -->
  <% } %> <!-- END posts loop -->

</div><!-- END .container -->


