<% layout('layout') -%>

<div class="container sm">

    <h1><span class="fa fa-book"></span> All Posts</h1>

  <div class="panel">
    <div class="panel-body">
      <% for(var i = 0; i < posts.length; i ++) { %>
        <% var post = posts[i]; %>

        <h1 class="post-heading"><%= post.title %></h1>

        <p class="lead"><%= post.title %>By <a href="/blogger<%= post.username %>"></a></p>

        <div class="meta">
          <div class="meta-item"><%= post.releaseDate %></div>
          <div class="meta-item">Posted by <%= post.username %></div>
        </div>

        <hr>

        <img class="img-responsive" src="<%= post.image %>" />
        <p><%= post.content %></p>

        <hr>

        <!-- comments -->
        <h3> Leave a comment </h3>
        <p>Sign in with</p>
        </p>

        <form action="/login" method="post">
          <div class="col-lg-3">
            <div class="form-group">
                <label>Username or Email</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
          </div>
          <div class="col-lg-9">
            <label>Comment</label>
            <textarea rows="4" cols="50"type="text" class="form-control" name="content"><%= post.content %></textarea>
          </div>
          <br><br>

          <button type="submit" class="btn btn-primary">Log in & Post</button>
          </div>
        </form>

        <hr>

        <div class="media">
          <div class="pull-left">
            <div class="media-object">ytian</div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Thi is  agood post <small>media date</small></h4>
            This is the content of the post
          </div>
        </div>

      <% } %>
    </div>
  </div>


</div>