<% layout('layout') -%>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/post" class="btn btn-default btn-sm">Create Post</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">

        <div class="well">
            <h3><span class="fa fa-laptop"></span> Local</h3>

            <p>
                <strong>username</strong>: <%= user.username %><br>
                <strong>email</strong>: <%= user.email %><br>
                <strong>password</strong>: <%= user.password %><br>
                <strong>blog title</strong>: <%= user.blogTitle %><br>
                <strong>blog description</strong>: <%= user.blogDescription %><br>
                <strong>vanity url</strong>: <%= user.vanityUrl %><br>
                <strong>tags</strong>: <%= user.tags %><br>
            </p>

        </div>

    </div>
</div>