<% layout('layout') -%>

<div class="container">

    <div class="page-header">
        <h1 class="post-heading"><strong> Blogger - <%= user.username %></strong> <br></h1>
        <p class="lead text-center">Email: <%= user.email %>, Comments: <%= comments.length %>, Ratings: <%= user.rating %> </p>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="col-md-9">
        <div class="panel">
            <div class="panel-heading">
                Posts
            </div>
            <div class="panel-body">
                <% if(typeof posts === 'undefined' || posts.length === 0) { %>
                  <div class="well">I have no posts yet. <a href="/post"> Create a new one.</a></div>
                <% } else { %>



                <% for (var i=0; i < posts.length; i++ ) {%>
                    <% var post = posts[i]; %>
                    <div class="media" style="padding: 0 150px;">
                        <div class="media-left">
                            <img class="media-object img-circle"  src="<%= post.image %>" width="74" height="74" />
                        </div>
                        <div class="media-body">
                            <h1 style="font-size: 35px; text-align: center;">
                                <a href="/blog/<%=username%>/<%=post._id%>"><%= post.title %></a>
                                &nbsp;<small><%= recentDate(post.releaseDate, post.modificationDate) %></small>
                            </h1>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                Comments
            </div>
            <div class="panel-body">
                <% if(typeof post === 'undefined' || typeof post.comments === 'undefined' || post.comments.length === 0) { %>
                  No Comments.
                    <%} else { %>
                        <% for (var j = 0; j < post.comments.length; j++ ) {%>
                            <% var comment = post.comments[j]; %>
                                <p class="post-comment"><a href="<%= comment.link %>"><%= comment.text %></a></p>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

</div>